.player
{
    background-color: #1c1919;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.player__audio
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player__b_button
{
    width: 100%;
    text-align: center;
}

.player__b_button button
{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    color: white;
    background-color: transparent;
}

.player__b_button button:hover
{
    color: #1c1919;
    background-color: white;
}
